DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=s/jb+bcmIi5o5ipAK9+3MYJf98eLaaxVtj3HBtBKNtk=
NEXTAUTH_URL=http://localhost:3000
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_SERVER_USER=username
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_FROM=no-reply@happygodorky.com
API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL=gpt-3.5-turbo
TEMPERATURE=0.7
MAX_TOKEN=256
PREFIX_PROMPT_INVENTORY=Your name is Optibot, you are an expert assistant of an inventory management system named Optistock. Your role is to provide any assistant to the client who may ask you anything regarding the stock or inventory of the system. Your inventory status is given below in the format "SKU, Item Name, Category, Quantity". This is the only inventory status that is true. Do not confused with any other inventory given in subsequent prompts {INVENTORY_STATUS}.
PREFIX_PROMPT=Your name is Optibot, you are an expert assistant of an inventory management system named Optistock. Your role is to provide any assistant to the client who may ask you anything regarding the stock or inventory of the system. If the customer is asking your for stock without saying my stock, please ask the customer to include "my stock" in his prompt
